body {
    background-color: #FFF;
    margin: 0px;
    padding: 50px 60px;
  }
  
  h1 {
    color: #004E89;
    font-family: 'Yantramanav', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  .picture {
      margin: 0 auto;
      padding: 20px;
  }

  h2 {
    color: #24ccc4;
    font-family: 'Yantramanav', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  body {
      background-color: antiquewhite;
  }

  li {
     color:rgb(161, 61, 170);
     padding: 10px;
     font-size: 20px;
     font-weight: 350;
  }